/* styles.css */

.seat-button{
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-min-width: 50px;
    -fx-min-height: 50px;

    -fx-shape: "M 50 40 C 50 50, 0 50, 0 40 L 0 5 C 0 0, 10 0, 10 5 L 10 30 L 40 30 L 40 5 C 40 0, 50 0, 50 5 Z M 39 29 L 11 29 L 11 2 C 11 -4, 39 -4, 39 2 Z";

    -fx-border-color: darkgray;
    -fx-border-width: 1px;
    -fx-background-insets: 0;
}

/*Status indicators*/

.seat-booked{
    -fx-background-color: lightgray;
    -fx-opacity: 1;
}

.seat-selected{
    -fx-background-color: yellow;
    -fx-opacity: 1;
}

.seat-error{
    -fx-background-color: #DDACAC;
    -fx-opacity: 1;
}

/*Seat type colors*/

/*Standard*/
.seat-free {
    -fx-background-color: lightgreen;
    -fx-opacity: 1;
}

/*Premium*/
.seat-free.type-premium {
    -fx-background-color: lightskyblue;
}

/*Deluxe*/
.seat-free.type-deluxe {
    -fx-background-color: plum;
}